# Project/Solution Artifacts
*.sln
*.vcxproj
*.vcxproj.user
*.vcxproj.filters
.vs/
.vscode/
.idea/

# CMake Artifacts
cmake-build-*/

# Build Artifacts
**/bin
/out
*.spv

# Package Manager Artifacts
conan.lock
conanbuildinfo.premake.lua
conanbuildinfo.txt
conaninfo.txt
graph_info.json